<html>
<head>
	<link href="/staticFiles/style/styleHome.css" type="text/css" rel="stylesheet" /> 
	
	<title> My Mirror Page </title>	 <!--  Define the parameters for each text block-->
	

</head>

<body style = "background-color:black"> 

	<h1 id = 'headerText' class = "Letters">
		Welcome.
	</h1>
	<div id='introText' class = "Letters">
		<p> Please select your desired city. </p>
	</div>
	<input type="radio" id="city1" name="city" value="CITY1" checked>
	<label id = city1Label for="city1" class = "Letters">CITY1</label><br>

	<input type="radio" id="city2" name="city" value="CITY2">
	<label id = city2Label for="city2" class = "Letters">CITY2</label><br>

	<input type="radio" id="city3" name="city" value="CITY3">
	<label id = city3Label for="city3" class = "Letters">CITY3</label><br>
	
	<input type="radio" id="city4" name="city" value="CITY4">
	<label id = city4Label for="city4" class = "Letters">CITY4</label><br>

	<input type="radio" id="city5" name="city" value="CITY5">
	<label id = city5Label for="city5" class = "Letters">CITY5</label><br><br><br>

	<input type = "submit" id = "submit1">

</body>

<script type="text/javascript" src="staticFiles/script/scriptHome.js">
</script>


</html>