<html>
<head>
	<link href="/staticFiles/style/styleDisplay.css" type="text/css" rel="stylesheet" /> 
	
	<title> My Mirror Page </title>	 <!--  Define the parameters for each text block-->
	

</head>

<body style = "background-color:black;"> <!--Background color of black-->
<!-- Below is to help with spacing and where we define our objects-->

	<div id='City_Text' class="Letters">
		<p><%= name %></p>
	</div>
	
	<div class="img">
		<img src="/staticFiles/assets/default.png" id = 'Weather_Image' width = '100' height = '100'>
	</div>
	
	<!--Below we create a table in order to help with spacing and allignment on the right-->

	
	<div>
		<table style="position:absolute; top: 34px; right: 220px">
			
			<thead>
				<tr>
					<th>   </th>
					<th id=Temperature_Text Class= "Letters">Temperature Text</th>
				</tr>
			</thead>
			
			
			<tbody>		
				<tr>	
					<td> </td>
					<td id= LowHi_Text Class= "Letters"> LowHi Text </td>
				</tr>
			</tbody>
				
		</table>
	</div>
	
	<!--Basic defining text-->

	<div id='Day_Text' class = "Letters">
		<p> Day Text </p>
	</div>
	
	<div id='Date_Text' class = "Letters">
		<p> Date Text </p>
	</div>
	
	<div id='Time_Text' class = "Letters">
		<p> Time Text </p>
	</div>
	
	<div id='Weather_Text' class="Letters">
		<p> Weather Text </p>
	</div>
	
	<div id='Daily_Summary_Text' class="Letters">
		<p> Daily Summary Text </p>
	</div>
	
	<div id='UV_Index_Text' class = "Letters">
		<p> UV Index Text </p>
	</div>
	
	<div id='Rain_Chance_Text' class = "Letters">
		<p> Rain Chance Text </p>
	</div>
	
	<div id ='Sunrise_Text' class= "Letters">
		<p> Sunrise Text </p>
	</div>
	
	<div id ='Sunset_Text' class= "Letters">
		<p> Sunset Text </p>
	</div>

</body>

<script type="text/javascript" src="/staticFiles/script/scriptDisplay.js">
	
</script>

</html>